@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,1000,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
	 line-height: 1.5;
	 min-height: 100vh;
	 font-family: "Be Vietnam Pro", sans-serif;
	 background-color: #000000;
	 color: #fff;
	 display: flex;
	 padding-top: 3vw;
	 padding-bottom: 3vw;
	 justify-content: center;
}
 *, *:before, *:after {
	 box-sizing: border-box;
}
 img {
	 display: block;
	 max-width: 130%;
}
 button, select, input, textarea {
	 font: inherit;
}
 a {
	 color: inherit;
}

 .app {
	 min-height: 80vh;
	 width: 95%;
	 max-width: 1600px;
	 background-color: #1f1f1f;
	 padding: 2vw 4vw 6vw;
	 display: flex;
	 flex-direction: column;
	 border-radius: 3%;
}
 .app-header {
	 display: grid;
	 grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(max-content, 400px);
	 column-gap: 4rem;
	 align-items: flex-end;
	 
}
 @media (max-width: 1200px) {
	 .app-header {
		 display: flex;
		 align-items: center;
		 justify-content: space-between;
		 border-bottom: 1px solid #313131;
	}
}
 @media (max-width: 1200px) {
	 .app-header-navigation {
		 display: none;
	}
}
 .app-header-actions {
	 display: flex;
	 align-items: center;
}
 @media (max-width: 1200px) {
	 .app-header-actions {
		 display: none;
	}
}
 .app-header-actions-buttons {
	 display: flex;
	 border-left: 1px solid #313131;
	 margin-left: 2rem;
	 padding-left: 2rem;
}
 .app-header-actions-buttons > * + * {
	 margin-left: 1rem;
}
 .app-header-mobile {
	 display: none;
}
 @media (max-width: 1200px) {
	 .app-header-mobile {
		 display: flex;
	}
}
 .app-body {
	 height: 100%;
	 display: grid;
	 grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(min-content, 400px);
	 column-gap: 4rem;
	 padding-top: 2.5rem;
}
 @media (max-width: 1200px) {
	 .app-body {
		 grid-template-columns: 1fr;
	}
	 .app-body > * {
		 margin-bottom: 3.5rem;
	}
}
 .app-body-navigation {
	 display: flex;
	 flex-direction: column;
	 justify-content: space-between;
}
 @media (max-width: 1200px) {
	 .app-body-navigation {
		 display: none;
	}
}
.app-body-main-content input{
	display: block;
	padding: 13px 20px;
	margin: 5px;
	padding-left: 55px;
	height: 48px;
	width: 100%;
	font-weight: 500;
	border-radius: 10px;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.5px;
	outline: none;
	color: #c4c3ca;
	background-color: transparent;
	border: none;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2	);
}
.app-body-main-content input:hover{
	transform: translateY(-4px);
	background-color: #1A1A1A;
	border-radius: 1px;
}
.secondary-content input{
	padding: 13px 20px;
	margin: 3px;
	padding-left: 55px;
	height: 48px;
	width: 100%;
	font-weight: 500;
	border-radius: 10px;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.5px;
	outline: none;
	color: #c4c3ca;
	background-color: transparent;
	border: none;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.secondary-content input:hover{
	transform: translateY(-2px);
	background-color: #1A1A1A;
}
.send{
	font-size: 23px;
	padding: 3%;
	border-radius: 10px;
	background-color: #e3ffa8;
	border: none;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	color: #000000;
}
.send:hover{
	background-color: rgb(17, 17, 17);
	font-size:22px;
}
.donthave{
	margin-left:10px ;
	color: #e3ffa8;	
}
.jol{
	color: #e3ffa8;
}
.tabs {
	display: flex;
	justify-content: space-between;
	color: #969593;;
	border-bottom: 1px solid #313131;
}
.tabs a	 {
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-decoration: none;
	border-top: 2px solid transparent;
	display: inline-flex;
	transition: 0.25s ease;
}
.tabs a.active, .tabs a:hover, .tabs a:focus {
	color: #fff;
	border-color: #fff;
}
 .footer {
	 margin-top: auto;
}
 .footer h1 {
	 font-size: 1.5rem;
	 line-height: 1.125;
	 display: flex;
	 align-items: flex-start;
}
 .footer h1 small {
	 font-size: 0.5em;
	 margin-left: 0.25em;
}
 .footer div {
	 border-top: 1px solid #313131;
	 margin-top: 1.5rem;
	 padding-top: 1rem;
	 font-size: 0.75rem;
	 color: #969593;
}
 .logo {
	 display: flex;
	 align-items: center;
	 padding-bottom: 1rem;
	 padding-top: 1rem;
	 border-bottom: 1px solid #313131;
}
 @media (max-width: 1200px) {
	 .logo {
		 border-bottom: 0;
	}
}
 .logo-icon {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 width: 32px;
	 height: 32px;
}
 .logo-title {
	 display: flex;
	 flex-direction: column;
	 line-height: 1.25;
	 margin-left: 0.75rem;
}
 .logo-title span:first-child {
	 color: #fff;
}
 .logo-title span:last-child {
	 color: #969593;
}
 .navigation {
	 display: flex;
	 flex-direction: column;
	 align-items: flex-start;
	 color: #969593;
}
 .navigation a {
	 display: flex;
	 align-items: center;
	 text-decoration: none;
	 transition: 0.25s ease;
}
 .navigation a * {
	 transition: 0.25s ease;
}
 .navigation a i {
	 margin-right: 0.75rem;
	 font-size: 1.25em;
	 flex-shrink: 0;
}
 .navigation a + a {
	 margin-top: 1.25rem;
}
 .navigation a:hover, .navigation a:focus {
	 transform: translateX(4px);
	 color: #fff;
}
.user-profile {
	display: flex;
	align-items: center;
	border: 0;
	background: transparent;
	cursor: pointer;
	color: #969593;
	transition: 0.25s ease;	
	text-decoration: none;
}
.user-profile:hover, .user-profile:focus {
	color: #fff;
}
.user-profile:hover span:last-child, .user-profile:focus span:last-child {
	box-shadow: 0 0 0 4px #1f1f1f, 0 0 0 5px #969593;
}
.user-profile span:first-child {
	display: flex;
	font-size: 1.125rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #313131;
	font-weight: 300;
}
.user-profile span:last-child {
	transition: 0.25s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	overflow: hidden;
	margin-left: 1.5rem;
	flex-shrink: 0;
}

.tiles {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1rem;
	row-gap: 1rem;
	margin-top: 1.25rem;
}
@media (max-width: 700px) {
	.tiles {
		grid-template-columns: repeat(1, 1fr);
   }
}
.tile {
	padding: 1rem;
	border-radius: 8px;
	background-color: #e3ffa8;
	color: #000;
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	transition: 0.25s ease;
}
.tile:hover {
	transform: translateY(-5px);
}
.tile:focus-within {
	box-shadow: 0 0 0 2px #1f1f1f, 0 0 0 4px #e3ffa8;
}
.tile:nth-child(2) {
	background-color: #45ffbc;
}
.tile:nth-child(2):focus-within {
	box-shadow: 0 0 0 2px #1f1f1f, 0 0 0 4px #45ffbc;
}
.tile:nth-child(3) {
	background-color: #bdbbb7;
}
.tile:nth-child(3):focus-within {
	box-shadow: 0 0 0 2px #1f1f1f, 0 0 0 4px #bdbbb7;
}
.tile a {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 600;
}
.tile a .icon-button {
	color: inherit;
	border-color: inherit;
}
.tile a .icon-button:hover, .tile a .icon-button:focus {
	background-color: transparent;
}
.tile a .icon-button:hover i, .tile a .icon-button:focus i {
	transform: none;
}
.tile a:focus {
	box-shadow: none;
}
.tile a:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.tile-header {
	display: flex;
	align-items: center;
}
.tile-header i {
	font-size: 2.5em;
}
.tile-header h3 {
	display: flex;
	flex-direction: column;
	line-height: 1.375;
	margin-left: 0.5rem;
}
.tile-header h3 span:first-child {
	font-weight: 600;
}
.tile-header h3 span:last-child {
	font-size: 0.825em;
	font-weight: 200;
}
.page-tittle{
	font-size: 2.5em;
	color: #e6fcb6;
	padding-left: 20vw;
}
.password-board{
	margin-top: 8%;
	text-decoration: none;
	transition: 0.25s ease; 
	color: #bfbebc
}
.password-board h1{
	font-size: 20px;
	text-decoration: none;
	transition: 0.25s ease;
	border-bottom: 1px solid #313131;
}
.password-board h1 * {
	transition: 0.25s ease;
}
.password-board h1:hover, .password-board h1:focus {
	transform: translateX(4px);
	color: #fff;
}
.add-button{
	position: absolute;
	width: 405px;
	border: 2px solid #1A1A1A;
	border-radius: 15px;
	box-sizing: border-box;
	color: #4b4b4b;
	font-size: 15px;
	padding: 16px 24px;
	text-align: center;
	background-color: #e3ffa8;
	transition: 0.25s ease;
	
}
.add-button:hover{
	background-color: #e8f7c8;
	transform: translateY(-3px);
	color: #000000;
}
.page-tittle-files{
	font-size: 2.5em;
	color: #45ffbc;
}
.add-button-files{
	position: absolute;	
	width: 405px;
	border: 2px solid #1A1A1A;
	border-radius: 15px;
	box-sizing: border-box;
	color: #868686;
	font-size: 15px;
	padding: 16px 24px;
	text-align: center;
	background-color: #45ffbc;
	transition: 0.25s ease;
	
}
.add-button-files:hover{
	transform: translateY(-3px);
	color: #000000;
	background-color: #9bf9d6;
}
.add-button-generate{
	position: absolute;	
	width: 605px;
	border: 2px solid #1A1A1A;
	border-radius: 15px;
	box-sizing: border-box;
	color: #555555;
	font-size: 15px;
	padding: 16px 24px;
	text-align: center;
	background-color: #bdbbb7;
	transition: 0.25s ease;
}
.add-button-generate:hover{
	transform: translateY(-3px);
	color: #000000;
	background-color: #bdbbb7;
}
.files-board{
	margin-top: 8%;
	text-decoration: none;
	transition: 0.25s ease; 
	color: #bfbebc
}
.files-board h1{
	font-size: 20px;
	text-decoration: none;
	transition: 0.25s ease;
	border-bottom: 1px solid #313131;
}
.files-board h1:hover, .files-board h1:focus {
	transform: translateX(4px);
	color: #fff;
}
.transfers {
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
}
.transfer {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 0.875rem;
}
@media (max-width: 1000px) {
	.transfer {
		align-items: flex-start;
		flex-direction: column;
   }
}
.transfer + * {
	margin-top: 2rem;
}
.transfer-logo {
	background-color: #f1f1f1;
	border-radius: 4px;
	width: 42px;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.transfer-logo img {
	width: 45%;
}
.transfer-details {
	margin-left: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
}
@media (max-width: 1000px) {
	.transfer-details {
		flex-wrap: wrap;
		margin-left: 0;
		margin-top: 1rem;
   }
}
.transfer-details div {
	width: calc(100% / 3 - 1rem);
}
@media (max-width: 1000px) {
	.transfer-details div {
		width: 100%;
   }
}
.transfer-details div + div {
	margin-left: 1rem;
}
@media (max-width: 1000px) {
	.transfer-details div + div {
		margin-left: 0;
		margin-top: 1rem;
   }
}
.transfer-details dd {
	color: #969593;
	margin-top: 2px;
}
.transfer-number {
	margin-left: 2rem;
	font-size: 1.125rem;
	flex-shrink: 0;
	width: 15%;
	display: flex;
	justify-content: flex-end;
}
@media (max-width: 1000px) {
	.transfer-number {
		margin-left: 0;
		margin-top: 1.25rem;
		width: 100%;
		justify-content: flex-start;
   }
}
.transfer-section {
	margin-top: 2.5rem;
}
.transfer-section-header {
	display: flex;
	align-items: center;
	width: 100%;
	padding-bottom: 0.75rem;
	border-bottom: 1px solid #313131;
}
.transfer-section-header h2 {
	font-size: 1.5rem;
}


/* scrollbar*/
*::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #1f1f1f;
    border-radius: 7px;	
  }

.delete-button{
	border: 2px solid #1A1A1A;
	border-radius: 15px;
	box-sizing: border-box;
	color: #000;
	font-size: 15px;
	padding: 16px 24px;
	text-align: center;
	background-color: #ff0000;
	transition: 0.25s ease;
	
}
.delete-button:hover{
	transform: translateY(-5px);
	color: #fffbfb;
}
#snackbar {
	visibility: hidden; 
	min-width: 250px; 
	margin-left: -125px; 
	background-color: #333; 
	color: #fff; 
	text-align: center; 
	border-radius: 2px; 
	padding: 16px; 
	position: fixed; 
	z-index: 1; 
	left: 50%;
	bottom: 30px; 
  }
  
#snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  @-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }
#p{
	margin-top: 55px;
	font-size: 25px;
	color: #e3ffa8;
}
.info{
	padding-left: 17%;
	margin-top: 55px;
	font-size: 25px;
	color: #e3ffa8;
}